.alt-header{
    ppadding: var(--horizontal-space);
    margin-bottom: 15px;
    display: flex;
    align-items: center;;
    justify-content: center;
}

.alt-header__title {
    font-size: 28px;
    font-weight: 600;
}

.alt-header__colunm:first-child{
    margin-right: auto;
}

.alt-header__colunm:last-child{
    margin-left: auto;

}